body{
    background-color: #181A1B;
    color: rgb(0,240,0);
}
.dropdown{
    display: inline-block;
}

.dropdown button{
    background-color: rgb(65, 61, 61);
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    border: none;
}

.dropdown a{
    display: block;
    color: rgb(182, 114, 245);
    text-decoration: none;
    padding: 10px 15px;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: #252627;
    box-shadow: 1px 1px 5px rgba(255, 250, 250, 0.70);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: rgb(48, 45, 45);
    cursor: pointer;
}
.dropdown a:hover{
    background-color: #3a3b3d;
}