body{
    background-image: url(snowfall.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
h1{
    background: linear-gradient(to right, rgb(179, 30, 99), lightgreen);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    background: linear-gradient(to left, lightgreen, rgb(68, 71, 218));
    background-repeat: no-repeat;
    background-attachment: fixed;
}