body{
    background-color: #181A1B;
    color: rgb(23, 253, 81);
    margin: 0;
}
main{
    margin: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(54, 52, 52);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: snow;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
}
.navbar a:hover{
    background-color: rgb(46, 46, 46);
}