body{
    background-color: #181A1B;
    color: rgb(23, 253, 81);
    margin: 0;
}
.gallery{
    display: inline-block;
    border: 1px solid rgb(151, 151, 151);
    margin: 5px;
    width: 200px;
}
.gallery .desc{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 1px solid rgb(226, 226, 226);
}
.gallery img{
    width: 100%; /*100% of the width of the gallery (200px)*/
    height: auto;
}