body{
    background-color: #181A1B;
    color: rgb(0,240,0);
}
.pagination{
    text-align: center;
}
.pagination a{
    color: whitesmoke;
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: rgb(11, 102, 155);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: rgb(38, 41, 43);
    border-radius: 5px;
}