div{
    background-color: red;
    width: 100px; /*while inline width and height dont do anything*/
    height: 100px; /*inline only takes as much space as it needs*/
    display: inline;
}

span{
    background-color: blue;
    width: 100px;
    height: 100px;
    display: inline-block;
}